<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" 
	xmlns="http://java.sun.com/xml/ns/j2ee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
  <servlet>
    <servlet-name>TopicServlet</servlet-name>
    <servlet-class>com.ydh.servlet.TopicServlet</servlet-class>
  </servlet>
    <servlet>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>com.ydh.servlet.UserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PopedomServlet</servlet-name>
    <servlet-class>com.ydh.servlet.PopedomServlet</servlet-class>
  </servlet>


  <servlet-mapping>
    <servlet-name>TopicServlet</servlet-name>
    <url-pattern>/TopicServlet</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PopedomServlet</servlet-name>
    <url-pattern>/PopedomServlet</url-pattern>
  </servlet-mapping>
  
  <!--对编码进行过滤-->
	<filter>  
       <filter-name>SetLeavewordFilter</filter-name>  
       <filter-class>com.ydh.filter.LeavewordFilter</filter-class>  
              <init-param>  
               <param-name>encoding</param-name>  
               <param-value>UTF-8</param-value>  
            </init-param>  
       </filter> 
  <!--处理所有后缀为do的请求-->
       <filter-mapping>
       <filter-name>SetLeavewordFilter</filter-name>
       <url-pattern>/*</url-pattern>
       </filter-mapping> 
  
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
